*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --cursive-font: "Dawning of a New Day", cursive;
  --main-font: 'Open Sans', sans-serif;
  font-size: 1rem;
  --primary-color: #222222;
  --secondary-color: #ffffff;
  --tertiary-color:#3FFF2E; /* 3FFF2E / 2ECC71*/
  --quaternary-color: #5013FF;
  --quinary-color: #BDD0F4;
  --senary-color:#EFEFEF;
  --septenary-color:#888585;
  --octonary-color:#FFE66B;
  --nonary-color:#44A5FF;
  --denary-color:#FFCB44;
  --green-color: #00CB8E;
  --red-color:#FF5252;
}
body {
  font-family: var(--main-font);
  line-height: 1.5;
  /* min-width: 100vw; */
}
/* Header Styles */
header{
  background-color: var(--primary-color);
  min-height: 8rem;
}
.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  gap: 2rem;
  border-bottom: 0.2rem solid var(--secondary-color);
}
.asensus-logo{
    margin-right:auto;
    margin-left:4rem;
}
.margin-right{
    margin-right:4rem;
}
.search-form {
    display:flex;
    background-color: var(--secondary-color);
  border-radius: 0.3rem;
}
input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 2rem;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 1;
}

/* button[type="submit"]:hover {
  opacity: 1;
} */

button[type="submit"]:focus,
input[type="search"]:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
/* Top Nav Styles */
.nav-container{
  margin: 0 3rem 0 3rem;
}
.nav-link{
  margin: 0 1rem;
}
.flex-start{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.main-nav{
    padding: 1rem 0;
}
.main-nav a{
    display: flex;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

.main-nav a:first-child, .main-nav a:hover{
    color: var(--tertiary-color);
    border-bottom: 0.25rem solid var(--tertiary-color);

}
.margin-left-sm{
  margin-left: 0.3rem;
}
.margin-left-lg{
  margin-left: 4rem;
}
.margin-top{
  margin-top: 2rem;
}
/* Live Filter */
.live-filter-container{
  background-color: var(--senary-color);
  min-height: 9rem;
  padding:1rem 4rem;

}
.live-filer-form{
  display: flex;
  justify-content: flex-start;
  gap:1rem;

}
.live-filter-wrapper{
  display:flex;
  flex-direction: column;
  gap:0.5rem;
}
.calender-container{
  margin-left:auto;
  margin-right: 4rem;
  background-color: var(--secondary-color);
  padding: 1rem 4rem 1rem 1rem;
}
button.save-view-btn{
  background-color: var(--quaternary-color);
  color:var(--secondary-color);
  border-radius: 0.25rem;
  padding: 0.25em 0.5em;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.option-selected-container{
  display: flex;
  flex-direction: column;
  align-content:space-between;
  justify-content: center;
  gap:1rem;
}
.live-option{
  background-color: var(--quinary-color);
  border-radius: 0.3rem;
  padding: 0.25em 2em 0.25em 0.50em;
}
.delete-icon{
  margin: 2rem 3rem;

}
/* Status Bar */
.stats-bar-container{
  display: flex;
flex-direction: row;
justify-content: flex-start;
padding: 0px 64px;


  position: relative;
  width:15.625rem;
  height:8.375rem;
  gap:1rem;
}
.status-bar-item{
position: absolute;
width: 250px;
height: 134px;
left: 64px;
top: 0px;

background: #FFFFFF;
border: 0.25px solid #D0D0D0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0.25rem;

}
.stats-bar-data{
  position: absolute;
  /* padding:1rem 1.5rem; */
  height: 72px;
width: 225.60975646972656px;
left: 24.3902587890625px;
top: 16px;
border-radius: 0;

}
.font-sm{
  font-size: 0.875rem;
}
.font-med{
  font-size:2.25rem;
}
.svg-container{
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin:1rem 2rem 4rem 11rem; */
  height:3.125rem;
  width:3.125rem;
  position: absolute;
  left: 71.2%;
right: 8.8%;
top: 12.69%;
bottom: 50%;

}
.progress-bar-container{
  position: absolute;
  height: 27px;
width: 206px;
left: 22px;
top: 96px;
border-radius: 0px;
font-size: 0.688rem;

}
.progress-bar{
  position: absolute;
width: 201px;
height: 8px;
left: 2px;
top: 0px;
border-radius: 0px;
}
.progress-bar-description{
position: absolute;
width: 201px;
height: 6px;
left: 2px;
top: 13px;
border-radius: 0px;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

}
.svg{
  width: 3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.meetings{
background-color: var(--nonary-color);
}
.av-sentiment{
background-color: var(--denary-color);
}
.positive-stories{
background-color: var(--green-color);
}
.negative-stories{
background-color: var(--red-color);

}

/* Story Feed */

/* Data visualisation */


/* .saved-views-btn{

} */
/* @media (max-width:1200px) {
 .nav-container{
  margin: 0 0 0 3rem;
}
.main-nav a{
  font-size: 0.8rem;
}
} */
