* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
:root {
  --main-font: 'Roboto', sans-serif;
  font-size: 1rem;
  --primary-color: #222222;
  --secondary-color: #ffffff;
  --tertiary-color: #3fff2e; /* 3FFF2E / 2ECC71*/
  --quaternary-color: #5013ff;
  --quinary-color: #bdd0f4;
  --senary-color: #efefef;
  --septenary-color: #888585;
  --octonary-color: #ffe66b;
  --nonary-color: #44a5ff;
  --denary-color: #ffcb44;
  --green-color: #00cb8e;
  --red-color: #ff5252;
}
body {
  font-family: var(--main-font);
  line-height: 1.5;
  /* min-width: 100vw; */
}
/* Header Styles */
header {
  background-color: var(--primary-color);
  min-height: 8rem;
}
.app-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  gap: 2rem;
  border-bottom: 0.2rem solid var(--secondary-color);
}
.margin-left {
  margin-right: auto;
  margin-left: 2rem;
}
.margin-right {
  margin-right: 4rem;
}
.search-form {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 0.3rem;
}
input[type='search'] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
button[type='submit'] {
  text-indent: -999px;
  overflow: hidden;
  width: 2rem;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: white
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat center;
  cursor: pointer;
  opacity: 1;
}

/* button[type="submit"]:hover {
  opacity: 1;
} */

button[type='submit']:focus,
input[type='search']:focus {
  box-shadow: 0 0 3px 0 #1183d6;
  border-color: #1183d6;
  outline: none;
}
/* Top Nav Styles */
.nav-container {
  margin: 0 3rem 0 3rem;
}
.nav-link {
  margin: 0 1rem;
}
.flex-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.main-nav {
  padding: 1rem 0;
}
.main-nav a {
  display: flex;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

.main-nav a:first-child,
.main-nav a:hover {
  color: var(--tertiary-color);
  border-bottom: 0.25rem solid var(--tertiary-color);
}
.margin-left-sm {
  margin-left: 0.3rem;
}
.margin-left-lg {
  margin-left: 4rem;
}
.margin-top {
  margin-top: 2rem;
}
/* Live Filter */
.live-filter-container {
  background-color: var(--senary-color);
  min-height: 9rem;
  padding: 1rem 4rem;
}
.live-filer-form {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.live-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.calender-container {
  margin-left: auto;
  margin-right: 4rem;
  background-color: var(--secondary-color);
  padding: 1rem 4rem 1rem 1rem;
}
button.view-btn {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
  border-radius: 0.25rem;
  padding: 0.5em 0.75em;
  font-size: 0.875rem;
  cursor: pointer;
}
.option-selected {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.option-selected-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
  gap: 1rem;
}

.live-option {
  background-color: var(--quinary-color);
  border-radius: 0.3rem;
  padding: 0.25em 0.5em;
  font-weight: bold;
  font-size: 0.75rem;
}
.delete-icon {
  margin: 2rem 3rem;
}
/* Status Bar */
.stats-bar-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 4rem;
  position: relative;
  max-width: 90%;
  height: 8.375rem; /*134px*/
  gap: 1rem;
  background: #ffffff;
}
.status-bar-item {
  width: 15.625rem; /* 18%; 250px*/
  height: 100%;
  background: #ffffff;
  border: 0.25px solid #d0d0d0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem; /*4px*/
  flex: none; /* The item is sized according to its width and height properties. It is fully inflexible: it neither shrinks nor grows in relation to the flex container. This is equivalent to setting "flex: 0 0 auto". */
  order: 0;
  flex-grow: 0;
  /* margin-right: 1rem; */
}
.stats-bar-data {
  position: relative;
  /* height: 4.5rem; */
  /* width: 225.60975646972656px; */
  /* width:100%; */
  left: 25px;
  top: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.status-title {
  /* height: 16px;
  width: 225.60975646972656px; */
  left: 9.76%;
  right: 0%;
  top: 11.94%;
  bottom: 76.12%;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222222;
}
.stats-num {
  /* height: 42px;
  width: 49.99998474121094px; */
  left: 9.76%;
  right: 70.24%;
  top: 34.33%;
  bottom: 34.33%;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #222222;
}
.svg-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  height: 3.125rem; /* 50px */
  width: 3.125rem; /* 50px*/
  left: 71.2%;
  bottom: 43%;
}
.svg {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5rem;
}
.meetings {
  background-color: var(--nonary-color);
}
.av-sentiment {
  background-color: var(--denary-color);
}
.positive-stories {
  background-color: var(--green-color);
}
.negative-stories {
  background-color: var(--red-color);
}
.progress-bar-container {
  position: relative;
  /* height: 1.688rem; /* 27px;*/
  /*width: 12.875rem; 206px; */
  font-size: 0.688rem;
  left: 8.8%;
  right: 8.8%;
  bottom: 24.21%;
}
/* .progress-bar {
  position: relative;
  width: 201px;
  height: 8px;
} */
.progress-bar {
  position: relative;
  display: flex;
  width: 201px;
  height: 0.25rem;
  margin: 0.25rem 0rem;
}
.progress-bar-value {
  position: relative;
  /* width:75%; */
  border-radius: 0.25rem;
}
.progress-bar-max {
  position: relative;
  /* width:25%; */
  background: #e3e3e3;
  border-radius: 0.25rem;
}
#meetings-progress-width {
  width: 25%;
}
#meetings-progress-max {
  width: 75%;
}
#av-sentiment-progress-width {
  width: 50%;
}
#av-sentiment-progress-max {
  width: 50%;
}
#positive-stories-progress-width {
  width: 75%;
}
#positive-stories-progress-max {
  width: 25%;
}
#negative-stories-progress-width {
  width: 30%;
}
#negative-stories-progress-max {
  width: 70%;
}
.progress-bar-description {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 201px;
  /* height: 6px; */
  font-size: 0.6875rem;
  line-height: 0.8125rem;
  color: #000000;
}
.progress-bar-result {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.progress-bar-label {
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Story Feed */
.feed-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100vh;
  width: 90%;
  margin: 2rem 4rem;
  background: var(--senary-color);
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  background-color: var(--senary-color);
  width: 100%;
  /* display: flex;
  justify-content: flex-start;
  gap: 1rem; */
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.875em 1em;
  transition: 0.3s;
  font-size: 1rem;
  font-weight: 600;
}
.tab button:hover {
  background-color: var(--quaternary-color);
  color: var(--secondary-color);
}
.tab button.active {
  background-color: var(--tertiary-color);
}
.tab-content {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.375em 0.75em;
  /* border: 1px solid #000;
  border-top: none; */
}
.feed-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}
.feed-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.75rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 2.125rem;
  padding: 1rem; /* 0.625rem; */
  width: 100%;
}
.card-title {
  font-weight: 700;
  line-height: 0.875rem;
  /* identical to box height */
  text-align: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin: 0px 0.625rem; */
}
.card-score-container {
  display: flex;
  justify-content: center;
  align-content: baseline;
  /* gap: 0.5rem; */
  height: 0.875rem;
}
.card-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.positive {
  background-color: var(--tertiary-color);
}
.negative {
  background-color: var(--red-color);
}
.neutral {
  background-color: var(--nonary-color);
}
.card-rating-score {
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 0.5rem;
  line-height: 0.875rem;
}
.card-stories-num {
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 0.5rem;
  line-height: 0.875rem;
}
.card-date {
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 0.5rem;
  line-height: 0.875rem;
}
.feed-content-container {
  background: var(--secondary-color);
  height: 139px;
  width: 100%;
  padding: 1rem; /* 0.625rem; */
  font-size: 0.75rem;
}
.story-text {
  line-height: 0.875rem;
  /* padding: 1em; */
  margin-bottom: 1.25rem;
}
.story-icon-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 1rem;
  margin: 3rem auto;
}
.story-svg {
  width: 100%;
}
.story-feed-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  /* height: 1.5rem; */
  width: 1.5rem;
}
.margin-auto {
  margin-right: auto;
}
.category-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 0.25rem; */
  padding: 0.25em 0.5em;
  margin: 1.5rem 0rem;
  background-color: var(--quinary-color);
  border-radius: 0.25rem;
  font-weight: bold;
}
.inline {
  display: inline;
}
.meetings-content-container {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  gap: 1rem;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
.meeting-width {
  width: 30rem;
}
.meetings-header {
  font-weight: 700;
  width: 100px;
}
.meetings-container {
  height: 179px;
}
.margin-left-auto {
  margin-left: auto;
}
.delete-filter-btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}
/* -------------------------------------------------------------- */

/* EXTRAAAAAAAAAAAAAA NOT ADDED*/

/* Data visualisation */
.data-container {
  position: relative;
  width: 100vw;
  height: 290px;
  left: 0px;
  top: 1117px;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.overall-sentiment-container {
  /* position: absolute; */
  /* visibility: hidden; */
  /* left: 4.44%;
right: 50.56%;
top: 0%;
bottom: 0%; */
  height: 290px;
  width: 45vw;
  /* left: 64px; */

  background-color: #bdd0f4;
}
.empty-container {
  height: 290px;
  width: 45vw;
  /* left: 728px;
  top: 0px; */
  background-color: #efefef;
  /* left: 50.56%;
right: 4.44%;
top: 0%;
bottom: 0%; */
}

/* Word cloud */
.word-cloud-container {
  position: absolute;
  width: 100vw;
  height: 290px;
  left: 0px;
  top: 1449px;

  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  gap: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.positive-cloud-container {
  height: 290px;
  width: 45vw;

  background-color: #bdd0f4;
}
.negative-cloud-container {
  height: 290px;
  width: 45vw;
  background-color: #efefef;
}
